table.reportTable {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 12px;   
  width: 100%;
  padding: 5px;
}

table.reportTable th {
}

table.reportTable thead {
  border-bottom: 1px solid #444444;
}

table.reportTable thead th:first-child {
  border-left: none;
}

table.reportTable td {
  vertical-align: super;
  background: #FFFFFF;
}

.primary {
  background: #E60000;
  font-weight: normal;
  color: #FFFFFF;
}

.secondary {
  background: #777777;
  font-weight: normal;
  color: #FFFFFF;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.excess-rows {
  text-align: right;
  font-weight: bold;
  background: #777777;
  color: #555555;
}

