table.reportTable {
  font-family: Open Sans,Helvetica,Arial,sans-serif;
  font-size: 12px;   
  width: 100%;
  border: 1px solid #CCCCCC;
  border-collapse: collapse;
  table-layout: fixed;
}

table.reportTable th {
  border: 1px solid #CCCCCC;
  font-size: 14px; 
  height: 25px;
  padding: 5px;
}

table.reportTable thead {
  border: 1px solid #CCCCCC;
}

table.reportTable td {
  vertical-align: super;
  padding: 2px;
  /*background: #FFFFFF;*/
  border: 1px solid #CCCCCC;


  max-width: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.primary {
  border: 1px solid #CCCCCC;
  background: #E60000;
  font-weight: bold;
  color: #FFFFFF;
}

.secondary {
  border: 1px solid #CCCCCC;
  background: #AAAAAA;
  font-weight: normal;
  color: #FFFFFF;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.bold {
  font-weight: bold;
}

.good {
  color: #A8B400;
  font-weight: bold;
}

.bad {
  color: #E60000;
  font-weight: bold;
}

.zero {
  background: #EEEEEE;
}

.excess-rows {
  text-align: right;
  background: #CCCCCC;
  color: #FFFFFF;
}

